<div class="image-container <%= @attributes["classname"] if @attributes["classname"] %>" >
	<% if @attributes["canvas"] %>
	<canvas id="sketchdec21a" data-processing-sources="<%= @attributes["canvas"] %>" <%= att("classname", "class") %>>
		<p>Your browser does not support the canvas tag.</p>
	</canvas>
	<% else %>
	<img src="<%= @src %>" alt="<%= @alt %>" />
	<% end %>
	<% if @alt && @alt != @src.content %><p class="caption"><%= @alt %></p><% end %>
</div>
